<div class="container">
<div class="row">
  <div class="col-md-2">
    <img class="logo text-center" src="./assets/img/logo.png" />
  </div>
  <div class="col-md-10">
    <h1 class="title">New Registration</h1>
  </div>
</div>
  <form #providerForm="ngForm" name="providerForm">

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" required>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="form-group">
        <label for="npi">NPI Number</label>
        <input type="text" class="form-control" id="npi" name="npi" [(ngModel)]="model.npi" #npi="ngModel" required>
        <div [hidden]="npi.valid || npi.pristine" class="alert alert-danger">
            NPI Number is required
        </div>
    </div>

    <div class="form-group">
        <label for="address">Business Address</label>
        <input type="text" class="form-control" id="address" name="address" [(ngModel)]="model.address" #address="ngModel" required>
        <div [hidden]="address.valid || address.pristine" class="alert alert-danger">
            Business Address is required
        </div>
    </div>

    <div class="form-group">
      <label for="phone">Telephone Number</label>
      <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="model.phone" #phone="ngModel"
        required>
      <div [hidden]="phone.valid || phone.pristine" class="alert alert-danger">
        Phone is required
      </div>
    </div>

    <div class="form-group">
        <label for="address">Email</label>
        <input type="email" class="form-control" id="email" name="email" [email]="true" [(ngModel)]="model.email" #email="ngModel"
                required>
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Valid email is required
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>
