.title {
  text-align: center;
}

form {
  margin-top: 30px;
}

button[type='submit'] {
  margin-top: 20px;
}

.logo {
  max-width: 200px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}